@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

  /* ---------- GENERAL ---------- */
  
  body {
      background-image: url("Flexbox\ images/notebook.png");
      color: #272727;
      display: grid;
      font-family: 'Gochi Hand', cursive;
      margin: 0;
      min-block-size: 100vh;
      place-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
  }
  
  h2 {
    margin: 0;
  }
  
  hr {
      background: #5e5e5e;
      border: none;
      height: 1px;
      margin: 0;
      min-height: 1px;
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  /* ---------- To-Do-List ---------- */
  
  .to-do-list {
      
      background-size: 100% 40px;
      border-radius: 5px;
      box-shadow: 0 1px   0 rgba(0,   0,   0,   0.200), 
      0 3px   0 rgba(255, 255, 255, 1.0), 
      0 4px   0 rgba(0,   0,   0,   0.15),
      0 6px   0 rgba(255, 255, 255, 1.0);
      font-size: 35px;
      padding: 40px 32px;
      width: 300px;
  }
  
  .to-do-list h2 {
      color: #5e5e5e;
      font-size: 28px;
      font-weight: bold;
  }
  
  .to-do-list input[type=checkbox] {
      cursor: pointer;
      position: relative;
      visibility: hidden;
  }
  
  .to-do-list input[type="checkbox"]:after {
      border: 1px solid #166B94;
      border-radius: 3px;
      color: #fff;
      content: "";
      display: block;
      height: 16px;
      line-height: 16px;
      position: absolute;
      text-align: center;
      visibility: visible;
      width: 16px;
  }
  
  .to-do-list input[type=checkbox]:checked:after {
      border: 1px solid #979797;
      color: #979797;
      content: "✓";
  }
  
  .to-do-list input[type=checkbox]:checked + label {
      color: #979797;
      font-weight: normal;
      text-decoration: line-through;
  }
  
  .to-do-list label {
      color: #166B94;
      font-weight: bold;
      margin-left: 12px;
  }