@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');


.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #101113;
  height: 1100px;
  position: relative;
  overflow: hidden;
}
.dark-delicious {
  background: linear-gradient(
    269.78deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 94.24976110458374%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 88px;
  top: 68px;
  width: 224px;
  height: 37px;
}
.ellipse-2 {
  background: #89393b;
  border-radius: 50%;
  width: 580px;
  height: 580px;
  position: absolute;
  left: 401px;
  top: 219px;
  filter: blur(150px);
}
.group-83 {
  position: absolute;
  inset: 0;
}
.image-2 {
  border-radius: 30px;
  width: 947.26px;
  height: 970px;
  position: absolute;
  left: 492.74px;
  top: 0px;
  object-fit: cover;
}
.group-82 {
  width: 765.19px;
  height: 37px;
  position: static;
}
.hicon-bold-buy-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 1307.95px;
  top: 75.77px;
  overflow: hidden;
}
.buy-1 {
  height: 80%;
  position: absolute;
  left: 1.25px;
  top: 3.25px;
  overflow: visible;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1067.96px;
  top: 67.84px;
  width: 109.94px;
  height: 37px;
}
.blogs {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 951.86px;
  top: 67.84px;
  width: 50.13px;
  height: 37px;
}
.home {
  color: #e2603b;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 564.86px;
  top: 67.84px;
  width: 53.65px;
  height: 37px;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 684.48px;
  top: 67.84px;
  width: 51.01px;
  height: 37px;
}
.chocolate {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 801.46px;
  top: 67.84px;
  width: 84.44px;
  height: 37px;
}
.group-81 {
  position: absolute;
  inset: 0;
}
.delicious {
  color: #f9e0d9;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 200px;
  letter-spacing: 0.055em;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 419px;
  width: 662px;
  height: 180px;
}
.chocolate-bars {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 64px;
  letter-spacing: 0.25em;
  font-weight: 400;
  position: absolute;
  left: 88px;
  top: 275.3px;
  width: 432.73px;
  height: 65.2px;
}
.group-1 {
  width: 208.45px;
  height: 78.41px;
  position: static;
}
.rectangle-1 {
  background: linear-gradient(
    90deg,
    rgba(226, 96, 59, 1) 0%,
    rgba(137, 57, 59, 1) 100%
  );
  border-radius: 0px 80px 0px 80px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 47.91666567325592%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
  width: 208.45px;
  height: 78.41px;
  position: absolute;
  left: 113.22px;
  top: 650.61px;
  box-shadow: inset 21px 13px 12px 0px rgba(137, 57, 59, 1);
}
.shop-now {
  color: #ffffff;
  text-align: left;
  font-family: "Bonheur Royale", cursive;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 165.11px;
  top: 677.93px;
  width: 105.54px;
  height: 31.72px;
}
